<form (ngSubmit)="addTeacher()" [ngClass]="'animate__animated '+formClass">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Enter Name"
      name="name"
      [(ngModel)]="name"
      required
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Enter Arabic Name"
      name="arName"
      [(ngModel)]="arName"
      required
    />
  </div>
  <div class="form-group">
    <input
      type="email"
      class="form-control"
      placeholder="Enter Email"
      name="email"
      [(ngModel)]="email"
      required
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      name="password"
      [(ngModel)]="password"
      required
    />
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Avatar URL"
      name="avatar"
      [(ngModel)]="avatar"
      required
    />
  </div>
  <div class="form-group">
    <input
      type="number"
      class="form-control"
      placeholder="Price"
      name="price"
      [(ngModel)]="price"
      required=true
    />
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
  <button class="btn btn-danger closeBtn mh-5" type="button" (click)="hideForm()">Cancel</button>
  <p class="errMsg">{{errMsg}}</p>
</form>
