<div class="cont">
  <div class="view">
    <div class="text-center">
      <form class="form-signin" (submit)="login()">
       <app-logo-img></app-logo-img>
        <h1 class=" mb-3 font-weight-normal">
          Mo<span class="gold">3</span>alem
        </h1>
        <p class="h3">Student</p>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          placeholder="Email address"
          required
          autofocus=""
          name="email"
          [(ngModel)]="email"
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          required="Password Required"
          name="password"
          [(ngModel)]="password"
        />
        <div class="btnCont">
          <button class="btn btn-lg btn-warning btn-block" type="submit">
            <img *ngIf="loading" class="btnLoad" src="../../../assets/images/loading.gif" />
            <span *ngIf="!loading"> Sign in </span>
          </button>
        </div>
        <p class="signUp">Don't Have an account ? <span class="link" [routerLink]="['../signup']">Sign Up Now</span> </p>
        <p>{{ errMsg }}</p>
      </form>
    </div>
  </div>
</div>
