<div class="card text-center item">
  <div class="card-img">
    <div class="playOverlay">
      <i class="fa fa-play-circle fa-3x playIcon" aria-hidden="true" (click)="playSample()"></i>
    </div>
    <img
      class="card-img-top"
      [src]="
        imageURL
      "
      alt="Card image cap"
      (error)= "imgUrlErr()"
    />
  </div>
  <div class="card-body">
    <h3 class="card-title name">
      {{ currentLang === "ar" ? sample.arName : sample.name }}
    </h3>
    <hr />
    <p class="card-text data" *ngIf="sample.teacher?.name">
      <strong>{{ "sheikh" | translate }} : </strong>
      <span
        [routerLink]="[
          '/' + currentLang + '/home/teachers',
          sample.teacher._id
        ]"
      >
        {{
          currentLang === "ar" ? sample.teacher?.arName : sample.teacher?.name
        }}
      </span>
    </p>
    <p class="card-text data">
      <strong>{{ "duration" | translate }} : </strong> {{ sample.duration }} {{"min" | translate}}
    </p>
    <p class="card-text data">
      <strong>{{ "ayatNum" | translate }} : </strong>{{ sample.noOfAyat }}
    </p>
    <p class="card-text data"><strong>{{"joz2"|translate}} : </strong>{{ sample.joz2 }}</p>
    <!-- <a href="#" class="btn btn-warning">View Details</a> -->
  </div>
</div>
