<navbar></navbar>

<div class="profile">
  <div class="cover"></div>
  <div class="imgCont">
    <img [src]="user.avatar" [alt]="user.name + 'Img'" class="profileImg" />
    <p class="h1 name">{{ user.name }}</p>
  </div>
  <div class="container section">
    <h3 class="h1 sectionH">{{ "teachers" | translate }}</h3>
    <div class="row " *ngIf="loading">
        <img src="../../../assets/images/loading.gif" alt="">
    </div>
    <div class="row" *ngIf="!loading && user.teachers.length">
      <teacher-card
        *ngFor="let teacher of user?.teachers"
        [teacher]="teacher"
        class="col-md-4 text-center"
      ></teacher-card>
    </div>
    <!-- <ng-template #noTeachers> -->
      <div class="row text-center" *ngIf="!loading && !user.teachers.length" >
        <p class="col-sm-12 h3">
          Sorry but you haven't subscribe to any teacher yet
        </p>
      </div>
    <!-- </ng-template> -->
  </div>
</div>
