<div class="container">
  <div class="header">
    <h2 class="text-center h1">{{ "library" | translate }}</h2>
    <div class="line"></div>

    <div
      class="addSampleCont"
      [ngStyle]="{ float: addDirection }"
      routerLink="./add"
    >
      <i class="fa fa-plus-circle fa-3x addSampleIcon"> </i>
      <!-- <div class="addSampleText">
        <p>add sample</p>
      </div> -->
    </div>
  </div>
  <div class="loadCont" *ngIf="loading">
    <img src="../../../assets/images/loading.gif" alt="" class="loadImg" />
  </div>
  <div class="row" *ngIf="samples.length">
    <sample-card
      class="col-md-4"
      *ngFor="let sample of samples"
      [sample]="sample"
    ></sample-card>
  </div>
  <h2 class="text-center" *ngIf="!samples.length && !loading">No Samples</h2>
</div>
