<div class="cont">
    <div class="view">
      <div class="text-center">
        <form class="form-signin" (submit)="register()">
         <app-logo-img></app-logo-img>
          <h1 class=" mb-3 font-weight-normal">
            Mo<span class="gold">3</span>alem
          </h1>
          <p class="h3">Student</p>
          <label for="inputUsername" class="sr-only">Username</label>
          <input
            type="text"
            id="inputUsername"
            class="form-control"
            placeholder="Username"
            required
            autofocus=""
            name="username"
            [(ngModel)]="username"
          />
          <label for="inputEmail" class="sr-only">Email address</label>
          <input
            type="email"
            id="inputEmail"
            class="form-control"
            placeholder="Email address"
            required
            autofocus=""
            name="email"
            [(ngModel)]="email"
          />
          <label for="inputPassword" class="sr-only">Password</label>
          <input
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required="Password Required"
            name="password"
            [(ngModel)]="password"
          />
          <div class="btnCont">
            <button class="btn btn-lg btn-warning btn-block" type="submit">
              <img *ngIf="loading" class="btnLoad" src="../../../assets/images/loading.gif" />
              <span *ngIf="!loading"> Sign up </span>
            </button>
          </div>
          <p class="signUp">Have an account ? <span class="link" [routerLink]="'../login'">Sign In Now</span> </p>
          <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
          <p>{{ errMsg }}</p>
        </form>
      </div>
    </div>
  </div>
