<app-success-alert
  [msg]="'joinSuccess' | translate"
  #successAlert
></app-success-alert>

<div class="loadingCont" *ngIf="loading">
  <img src="../../../../assets/images/loading.gif" alt="" class="loadingImg" />
</div>

<div class="main" *ngIf="!loading">
  <div class="solidCover"></div>
  <div class="container">
    <div class="imgCont">
      <img [src]="imageURL" class="lecCover" />
      <p>
        <span class="h1 lecName">
          {{
            activeLang === "en"
              ? lecture?.name
              : lecture?.arName || lecture?.name
          }}
        </span>
        <span class="lecState h5">
          (
          <span
            [ngStyle]="{
              color:
                lecture.state === 'live'
                  ? 'green'
                  : lecture.state === 'finished'
                  ? 'red'
                  : lecture.state === 'expired'
                  ? 'orange'
                  : 'gold'
            }"
          >
            {{ lecture.state || "upcoming" | translate }}
          </span>
          )
        </span>
      </p>
    </div>
    <div class="line"></div>

    <div
      class="timerCont"
      *ngIf="
        lecture.state == 'upcoming' || (lecture.state === 'live' && joined)
      "
    >
      <timer [date]="lecture.time"></timer>
    </div>

    <div
      class="timerCont"
      *ngIf="
        (joined && lecture.state == 'finished') || lecture.state === 'expired'
      "
    >
      <p class="h4">
        {{
          lecture.state === "finished"
            ? ("finishedLecture" | translate)
            : lecture.state === "expired"
            ? ("expiredLecture" | translate)
            : ""
        }}
      </p>
    </div>

    <div class="timerCont" *ngIf="!joined && lecture.state == 'live'">
      <p class="h4">
        {{ "notMemberLect" | translate }}
      </p>
    </div>

    <div class="row desc">
      <p class="h5">
        {{ lecture.description }}
      </p>
    </div>
    <!-- <div class="students">
      <p class="h2 header">
        {{ "students" | translate }} ({{ lecture.students?.length }})
      </p>
      <ul class="students row">
        <li
          class="studentItem col-md-3"
          *ngFor="let student of lecture.students"
        >
          <div>
            <student-card [student]="student"></student-card>
          </div>
        </li>
      </ul>
      <p class="emptyMsg h5" *ngIf="!lecture.students.length">
        {{ "sorryUHavenot" | translate }} {{ "students" | translate }}
      </p>
    </div> -->

    <div class="detailsSec">
      <p class="h2 header">
        {{ "details" | translate }}
      </p>
      <p>
        <span class="subHead"> {{ "lectureDate" | translate }} : </span>
        <span class="subValue">
          {{ lecture.time | date: "medium" }}
        </span>
      </p>
      <p>
        <span class="subHead"> {{ "sheikh" | translate }} : </span>
        <span class="subValue">
          {{
            activeLang === "ar"
              ? lecture.teacher.arName || lecture.teacher.name
              : lecture.teacher.name
          }}
        </span>
      </p>
    </div>
  </div>

  <button class="btn btn-danger joinBtn" (click)="joinLect()" *ngIf="!joined && lecture.state == 'upcoming' || lecture.state === 'live'">
    <img
      src="../../../../assets/images/loading.gif"
      alt=""
      class="loadingImgBtn"
      *ngIf="joinning"
    />
    <span *ngIf="!joinning && !joined">
      {{ "joinNow" | translate }}
    </span>
  </button>
  <div class="joinBtn joinMsg" *ngIf="joined">
    {{ "joined" | translate }}
  </div>
</div>
