<div class="sidebar bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading h3">Quran Admin</div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action bg-light"
      [ngClass]="activePage === 'dashboard' ? 'active' : ''"
      (click)="changeActive('dashboard')"
      >Dashboard</a
    >
    <a
      class="list-group-item list-group-item-action bg-light menu-item"
      [ngClass]="activePage === 'students' ? 'active' : ''"
      (click)="changeActive('students')"
      >Students</a
    >
    <a
      class="list-group-item list-group-item-action bg-light menu-item"
      [ngClass]="activePage === 'teachers' ? 'active' : ''"
      (click)="changeActive('teachers')"
      >Teachers</a
    >
  </div>
</div>
