<div class="sidebar bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading h3">Quran Admin</div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="'./'"
      [routerLinkActiveOptions]="{ exact: true }"
      >Dashboard</a
    >
    <a
      class="list-group-item list-group-item-action bg-light menu-item"
      routerLinkActive="active"
      [routerLink]="'./teachers'"
      >Teachers</a
    >
    <a
      class="list-group-item list-group-item-action bg-light menu-item"
      routerLinkActive="active"
      [routerLink]="'./students'"
      >Students</a
    >

    <a
      class="list-group-item list-group-item-action bg-light menu-item"
      (click)="adminLogOut()"
      >Logout</a
    >
  </div>
</div>
