<nav
  [ngClass]="{
    light: mode === 'light',
    dark: mode === 'dark'
  }"
  class="navbar navbar-expand-lg navbar-light  navBar"
>
  <div
    class="logo"
    (click)="changeActive('')"
    [routerLink]="'/' + urlLang + '/home'"
  >
    <img src="../../../assets/images/logo.jpg" class="logoImg" />
    <a class="navbar-brand logoName">Mo<span class="gold">3</span>alem</a>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto " >
      <li
        class="nav-item"
        (click)="changeActive('')"
        [class]="active === '' ? 'active' : ''"
      >
        <a class="nav-link" [routerLink]="'/' + urlLang + '/home'"
          >{{ "home" | translate }} <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="'/' + urlLang + '/home/teachers'"
          (click)="changeActive('teachers')"
          [class]="active === 'teachers' ? 'active' : ''"
          >{{ "teachers" | translate }}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="'/' + urlLang + '/home/library'"
          (click)="changeActive('library')"
          [class]="active === 'library' ? 'active' : ''"
          >{{ "library" | translate }}</a
        >
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">{{ testStr}}</a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Reasourc
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form> -->
    <div class="my-2 my-lg-0 dropdown" *ngIf="user">
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item"  [routerLink]="'/' + urlLang + '/profile'">{{ user.name }}</a>
        <a class="dropdown-item" (click)="changeLanguage()">{{
          "otherLang" | translate
        }}</a>
        <a class="dropdown-item" (click)="toggleTheme()">
          <span>
            {{ "darkMode" | translate }}
          </span>

          <input type="checkbox" [checked]="mode==='dark'" data-toggle="toggle" data-size="lg">


        </a>
        <a class="dropdown-item" (click)="logOut()">{{
          "logOut" | translate
        }}</a>

        <!-- <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a> -->
      </div>
      <a
        class="ddMenu"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        <img [src]="user?.avatar" alt="" class="usrImg" />
      </a>
    </div>
    <div class="my-2 my-lg-0">
      <button
        class="btn btn-warning"
        *ngIf="!user"
        [routerLink]="'/' + urlLang + '/login/student'"
      >
        Sign In
      </button>
    </div>
  </div>
</nav>
