.cardItem {
  /* width: 18vw;
  height: 30vh; */
  padding-top: 5%;
  /* background-color: #fff; */
  cursor: pointer;
  height: 100%;
  min-height: 25vh;
  font-family: Cairo;
  display: flex;
  align-items: center;
  justify-content: center;
}
