.admin {
  font-family: Cairo;
  padding-top: 8vh;
}
.filterName{
  color:crimson;
  font-weight: bolder;
}
.teachers {
  /* height: 50vh; */
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 100%;
  list-style-type: none;
  justify-content: center;
}
.filterInput{
  height: 7vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.teacherItem {
  /* width: 20%; */
  display: inline-block;
  padding: 0;
}
.deleteBtn{
  position: absolute;
  left: 0;
  z-index: 10;
}


.addFormCont{
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.addForm{
  width: 50%;
}
