.cont {
  width: 100vw;
  height: 7vh;
  padding: 1vw;
  background-color: #2db65b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
