<div class="container">
  <h1>Meeting Room</h1>
  <button class="finishBtn btn btn-danger">Finish Lecture</button>

  <!-- <div class="row firstVidsCont"></div> -->
  <div class="row teacherVideoCont">
    <video #teacherVideo class="teacherVideo"></video>
    <div class="loadingCont" *ngIf="!myVidLoaded">
      <h3>Loading...</h3>
    </div>
  </div>
  <div class="row secVidsCont">
    <div
      class="col-md-4 studentVidCont"
      *ngFor="let studentStream of studentsStreams">
      <video-player [vidData]="studentStream"></video-player>
    </div>
  </div>
</div>
