
.secVidsCont {
  min-height: 30vh;
  width: 100%;
}
.teacherVideoCont {
  height: 50vh;
  width: 100%;
}

.teacherVideo {
  border: 2px solid gold;
  width: 100%;
  height: 100%;
}
.loadingCont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.finishBtn{
  left: 50px
}
