<div class="solidCover"></div>
<div class="imgCont">
  <img [src]="imageURL" class="lecCover" />
  <p>
    <span class="h1 lecName">
      {{
      activeLang === "en"
      ? lectureData?.name
      : lectureData?.arName || lectureData?.name
      }}
    </span>
  </p>
</div>
<div class="line"></div>


<div class="row aya">
  <p class="h5 gold">
    {{ lectureData?.aya }}
  </p>
  <button class="btn" (click)="openChangeAlert()"><i class="fa fa-edit"></i></button>
</div>


<div class="container main">
  <button class="finishBtn btn btn-danger" (click)="endLecture()" [disabled]="endingLecture">
    <span *ngIf="!endingLecture">
      {{ "endLecture" | translate }}
    </span>
    <img src="../../../../assets/images/loading.gif" *ngIf="endingLecture" class="btnLoadImg" />
  </button>
  <h1 class="teacherName">
    {{
    activeLang === "ar"
    ? lectureData?.teacher.arName || lectureData?.teacher.name
    : lectureData?.teacher.name
    }}
  </h1>

  <!-- <div class="row firstVidsCont"></div> -->
  <div class="row teacherVideoCont">
    <video #teacherVideo class="teacherVideo"></video>
  </div>
  <div class="row secVidsCont">
    <div class="col-md-4 studentVidCont" *ngFor="let studentStream of studentsStreams">
      <video-player [vidData]="studentStream"></video-player>
    </div>
  </div>
</div>
<loading-overlay *ngIf="loading"></loading-overlay>


<div class="alertCont" *ngIf="changeMode">
  <button class="btn-danger closeBtn" (click)="closeChangeAlert()">X</button>
  <quran-selector class="quranAlert" [lectureId]="lectureData._id" (doneFlag)="closeChangeAlert($event)">
  </quran-selector>
</div>
