<div class="all">
  <div class="logo">
    <img src="../../../assets/images/logo.jpg" alt="" class="logoImg" />
    <h1 class="h3 mb-3 font-weight-normal">
      Mo<span class="gold">3</span>alem
    </h1>
  </div>
  <div class="container cont text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ "teacherLogin" | translate }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Shiekh</h6>
            <p class="card-text">
              as a Teacher you can add Lectures and view your students status
            </p>
            <a
              [routerLink]="'../teacher/login'"
              class="btn btn-warning"
              >{{ "loginNow" | translate }}</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ "studentLogin" | translate }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Talib</h6>
            <p class="card-text">
              as a Student you can see many Teachers and enroll in any course
            </p>
            <a
              [routerLink]="'../student/login'"
              class="btn btn-warning"
              >{{ "loginNow" | translate }}</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ "adminLogin" | translate }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Admin</h6>
            <p class="card-text">
              as a Admin you can see many Teachers and enroll in any course
            </p>
            <a
              [routerLink]="'../admin/login'"
              class="btn btn-warning"
              >{{ "loginNow" | translate }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
