<div class="container">
  <div class="header">
    <h2 class="text-center h1">{{ "lectures" | translate }}</h2>
    <div class="line"></div>

    <div class="addSampleCont" routerLink="./add">
      <i
        class="fa fa-plus-circle fa-3x addSampleIcon"
        [ngStyle]="{ float: addDirection }"
      >
      </i>
      <!-- <div class="addSampleText">
        <p>add sample</p>
      </div> -->
    </div>
  </div>
  <div class="loadCont" *ngIf="loading">
    <img src="../../../assets/images/loading.gif" alt="" class="loadImg" />
  </div>

  <section class="upcoming" *ngIf="!loading">
    <h3 class="h2">{{ "upcomingLectures" | translate }}</h3>
    <div class="row lectCont" *ngIf="upcomingLecs.length">
      <lecture-card
        *ngFor="let lecture of upcomingLecs"
        [lecture]="lecture"
        class="col-lg-4 col-md-6"
      ></lecture-card>
    </div>
    <div class="row emptyMsg" *ngIf="!upcomingLecs.length">
      <p class="h3">Sorry but you havn't any upcoming lectures</p>
    </div>
  </section>


  <section class="upcoming" *ngIf="!loading && finishedLecs.length">
    <h3 class="h2">{{ "finishedLectures" | translate }}</h3>
    <div class="row lectCont" *ngIf="finishedLecs.length">
      <lecture-card
        *ngFor="let lecture of finishedLecs"
        [lecture]="lecture"
        class="col-lg-4 col-md-6"
      ></lecture-card>
    </div>
    <div class="row emptyMsg" *ngIf="!finishedLecs.length">
      <p class="h3">Sorry but you havn't any upcoming lectures</p>
    </div>
  </section>

  <section class="upcoming" *ngIf="!loading && cancelledLecs.length ">
    <h3 class="h2">{{ "cancelledLectures" | translate }}</h3>
    <div class="row lectCont" *ngIf="cancelledLecs.length">
      <lecture-card
        *ngFor="let lecture of cancelledLecs"
        [lecture]="lecture"
        class="col-lg-4 col-md-6"
      ></lecture-card>
    </div>
    <div class="row emptyMsg" *ngIf="!cancelledLecs.length">
      <p class="h3">Sorry but you havn't any upcoming lectures</p>
    </div>
  </section>

  <!-- <div class="row" *ngIf="samples.length">
    <sample-card
      class="col-lg-4 col-md-6"
      *ngFor="let sample of samples"
      [sample]="sample"
    ></sample-card>
  </div> -->
  <!-- <h2 class="text-center" *ngIf="!samples.length && !loading">No Samples</h2> -->
</div>
