<div class="container">
  <div class="header">
    <h2 class="text-center h1">{{ "lectures" | translate }}</h2>
    <div class="line"></div>

    <div class="addSampleCont">
      <i
        class="fa fa-plus-circle fa-3x addSampleIcon"
        [ngStyle]="{ float: addDirection }"
        routerLink="./add"
      >
      </i>
      <!-- <div class="addSampleText">
        <p>add sample</p>
      </div> -->
    </div>
  </div>
  <div class="loadCont" *ngIf="loading">
    <img src="../../../assets/images/loading.gif" alt="" class="loadImg" />
  </div>

  <section class="upcoming" *ngIf="!loading">
    <h3 class="h2 text-center">{{ "upcomingLectures" | translate }}</h3>
    <div class="row lectCont" *ngIf="upcomingLecs.length">
      <lecture-card
        *ngFor="let lecture of upcomingLecs"
        [lecture]="lecture"
        class="col-lg-4 col-md-6 lecCard"
        [routerLink]="['./', lecture._id]"
      ></lecture-card>
    </div>
    <div class="row emptyMsg" *ngIf="!upcomingLecs.length">
      <p class="h3">
        {{ "sorryUHavenot" | translate }} {{ "upcomingLectures" | translate }}
      </p>
    </div>
  </section>

  <section class="upcoming" *ngIf="!loading && finishedLecs.length">
    <h3 class="h2 text-center">{{ "finishedLectures" | translate }}</h3>
    <div class="row lectCont" *ngIf="finishedLecs.length">
      <lecture-card
        *ngFor="let lecture of finishedLecs"
        [lecture]="lecture"
        class="col-lg-4 col-md-6 lecCard"
      ></lecture-card>
    </div>
    <div class="row emptyMsg" *ngIf="!finishedLecs.length">
      <p class="h3">{{ "sorryUHavenot" | translate }} upcoming lectures</p>
    </div>
    <hr />
  </section>
  <section class="upcoming" *ngIf="!loading && cancelledLecs.length">
    <h3 class="h2 text-center">{{ "cancelledLectures" | translate }}</h3>
    <div class="row lectCont" *ngIf="cancelledLecs.length">
      <lecture-card
        *ngFor="let lecture of cancelledLecs"
        [lecture]="lecture"
        class="col-lg-4 col-md-6 lecCard"
        [routerLink]="'./' + lecture._id"
      ></lecture-card>
    </div>
    <div class="row emptyMsg" *ngIf="!cancelledLecs.length">
      <p class="h3">
        {{ "sorryUHavenot" | translate }} {{ "cancelledLectures" | translate }}
      </p>
    </div>
  </section>

  <!-- <div class="row" *ngIf="samples.length">
    <sample-card
      class="col-lg-4 col-md-6"
      *ngFor="let sample of samples"
      [sample]="sample"
    ></sample-card>
  </div> -->
  <!-- <h2 class="text-center" *ngIf="!samples.length && !loading">No Samples</h2> -->
</div>
