<app-success-alert
  [msg]="'lectureAddedSuccess' | translate"
  #successAlert
></app-success-alert>

<div class="container formCont">
  <div class="row rowCont">
    <form
      class="form col-lg-6"
      #addLectureForm="ngForm"
      (submit)="onSubmit(addLectureForm)"
    >
      <div class="row g-3">
        <input
          type="text"
          class="form-control"
          id="lectureName"
          [placeholder]="'lectureName' | translate"
          required
          [(ngModel)]="name"
          name="name"
          [ngClass]="{ errField: errorFields.includes('name') && !name }"
        />

        <input
          type="text"
          class="form-control"
          id="arName"
          [placeholder]="'arName' | translate"
          value=""
          required
          [(ngModel)]="arName"
          name="arName"
          required="true"
          [ngClass]="{ errField: errorFields.includes('arName') && !arName }"
        />

        <textarea
          rows="3"
          class="form-control"
          [placeholder]="'description' | translate"
          required
          [(ngModel)]="description"
          name="description"
          [ngClass]="{ errField: errorFields.includes('description') && !name }"
        ></textarea>

        <input
          type="number"
          min="1"
          class="form-control"
          id="duration"
          [placeholder]="'duration' | translate"
          required
          [(ngModel)]="duration"
          name="duration"
          [ngClass]="{
            errField: errorFields.includes('duration') && !duration
          }"
        />
        <input
          class="form-control"
          type="datetime-local"
          name="time"
          [(ngModel)]="time"
          required
          (change)="logDate()"
        />
        <!-- <p class="note">{{"timeDiffNote" | translate}}</p> -->

        <input
          type="text"
          class="form-control"
          id="avatar"
          [placeholder]="'cover' | translate"
          [(ngModel)]="coverURL"
          name="coverURL"
          [ngClass]="{ errField: errorFields.includes('coverURL') && !coverURL }"
          required
        />
      </div>
      <hr class="my-4" />
      <p class="h3" *ngIf="errMsg">{{ errMsg }}</p>
      <hr class="my-4" *ngIf="errMsg" />

      <button class="w-100 btn btn-warning btn-lg" type="submit">

        <img
          src="../../../../assets/images/loading.gif"
          height="100vh"
          *ngIf="loading"
          class="btnLoad"
        />
        <span *ngIf="!loading">
          {{ "addLecture" | translate }}
        </span>
      </button>
    </form>
    <div class="col-lg-5 preview">
      <div class="prevContent">
        <div class="card-img">
          <img
            [src]="
              coverURL ||
              'https://i.pinimg.com/originals/2c/19/7d/2c197db4eb3e3695bc09777a31a86de2.png'
            "
            class="avatarImg"
          />
        </div>
        <h3 class="name text-center">{{ name }}</h3>
        <h3 class="name text-center">{{ arName }}</h3>
        <div class="details">
          <p class="text" *ngIf="description">{{ description }}</p>
          <p class="text" *ngIf="duration">
            <strong class="h5">{{ "duration" | translate }} : </strong>
            <span>{{ duration }} {{ "min" | translate }}</span>
          </p>
          <p class="text" *ngIf="showTime">
            <strong class="h5">{{ "startTime" | translate }} : </strong>
            <span>{{ showTime.toLocaleString() }} </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


