<div class="solidCover"></div>
<div class="imgCont">
  <img [src]="imageURL" class="lecCover" />
  <p>
    <span class="h1 lecName">
      {{
      activeLang === "en"
      ? lectureData?.name
      : lectureData?.arName || lectureData?.name
      }}
    </span>
  </p>
</div>
<div class="line"></div>

<div class="aya">
  <h5 class="gold">
    {{ lectureData?.aya }}
  </h5>
</div>

<div class="container main">
  <h1 class="teacherName">
    {{
    activeLang === "ar"
    ? lectureData?.teacher.arName || lectureData?.teacher.name
    : lectureData?.teacher.name
    }}
  </h1>

  <!-- <div class="row firstVidsCont"></div> -->
  <div class="row teacherVideoCont">
    <!-- <video #teacherVideo class="teacherVideo" controls ></video> -->
    <video-player class="teacherVideo" controls [stream]="teacherStream" [controls]="true" *ngIf="teacherVidLoaded"
      [poster]="teacherAvatar"></video-player>
    <div class="loadingCont" *ngIf="!teacherVidLoaded">
      <h3>{{ "waitTeacherConn" | translate }}...</h3>
    </div>
  </div>
  <div class="row secVidsCont">
    <div class="col-md-4 studentVidCont" *ngIf="(myStream && videoOn) || audioOn">
      <video-player [stream]="myStream" [poster]="myData?.avatar"></video-player>
    </div>
  </div>
  <button class="btn btn-danger recBtn" (click)="toggleRecording()">
    <span *ngIf="!recording">
      {{ "recordLecture" | translate }}
    </span>
    <span *ngIf="recording">
      {{ "stopRecording" | translate }}
    </span>
  </button>
</div>
<loading-overlay *ngIf="loading"></loading-overlay>

<div class="sideMenu">
  <div class="menuItem" (click)="toggleAudio()">
    <span>
      {{
      audioOn
      ? ("stopMicrophone" | translate)
      : ("activeMicrophone" | translate)
      }}
    </span>
    <i class="fa" [ngClass]="{
        'fa-microphone-slash': !audioOn,
        'fa-microphone': audioOn
      }"></i>
  </div>
  <div class="menuItem" (click)="toggleVideo()">
    <span>
      {{ videoOn ? ("stopCamera" | translate) : ("activeCamera" | translate) }}
    </span>
    <i class="fa" [ngClass]="{
        'fa-video-slash': !videoOn,
        'fa-video': videoOn
      }"></i>
  </div>
</div>
