<div class="solidCover"></div>
<div class="imgCont">
  <img [src]="imageURL" class="lecCover" />
  <p>
    <span class="h1 lecName">
      {{
        activeLang === "en"
          ? lectureData?.name
          : lectureData?.arName || lectureData?.name
      }}
    </span>
  </p>
</div>
<div class="line"></div>

<div class="container main">
  <h1 class="teacherName">
    {{
      activeLang === "ar"
        ? lectureData?.teacher.arName || lectureData?.teacher.name
        : lectureData?.teacher.name
    }}
  </h1>

  <!-- <div class="row firstVidsCont"></div> -->
  <div class="row teacherVideoCont">
    <video #teacherVideo class="teacherVideo" *ngIf="teacherVidLoaded"></video>
    <div class="loadingCont" *ngIf="!teacherVidLoaded">
      <h3>{{ "waitTeacherConn" | translate }}...</h3>
    </div>
  </div>
  <div class="row secVidsCont">
    <div
      class="col-md-4 studentVidCont"
      *ngFor="let studentStream of studentsStreams"
    >
      <video-player [vidData]="studentStream"></video-player>
    </div>
  </div>
</div>
<loading-overlay *ngIf="loading"></loading-overlay>
