<div class="text-center">
  <div class="header">
    <h1 class="">Meet our Teachers</h1>
    <div class="line"></div>
    <p class="desc">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, sed optio
      quis a amet cum, excepturi reprehenderit ut odio asperiores nam esse vero
      non
    </p>
  </div>

  <ul class="teachers">
    <li class="teacherItem">
      <teacher-card></teacher-card>
    </li>
    <li class="teacherItem">
      <teacher-card></teacher-card>
    </li>
    <li class="teacherItem">
      <teacher-card></teacher-card>
    </li>
    <li class="teacherItem">
      <teacher-card></teacher-card>
    </li>
    <li class="teacherItem">
      <teacher-card></teacher-card>
    </li>
    <li class="teacherItem">
      <teacher-card></teacher-card>
    </li>
    <li class="teacherItem">
      <teacher-card></teacher-card>
    </li>
    <li class="teacherItem">
      <teacher-card></teacher-card>
    </li>
  </ul>
</div>
