.time{
  color: gold;
  font-weight: bold;
}

.goBtn{
  background-color: #333;
  color: gold;
  width: 15vw;
  height: 10vh;
  border: 1px solid gold;
  font-size: 1.5vw;
  transition: 0.5 ease-in-out;
}

.goBtn:hover{
  color:#333;
  background-color: gold;
  border-color: #333;
}
