<div class="solidCover"></div>
<div class="imgCont">
  <img [src]="imageURL" class="lecCover" />
  <p>
    <span class="h1 lecName">
      {{
        activeLang === "en"
          ? lectureData?.name
          : lectureData?.arName || lectureData?.name
      }}
    </span>
  </p>
</div>
<div class="line"></div>

<div class="row aya">
  <p class="h5 gold">
    {{ lectureData?.aya }}
  </p>
  <button class="btn" (click)="openChangeAlert()">
    <i class="fa fa-edit"></i>
  </button>
</div>

<div class="container main">
  <button
    class="finishBtn btn btn-danger"
    (click)="endLecture()"
    [disabled]="endingLecture"
  >
    <span *ngIf="!endingLecture">
      {{ "endLecture" | translate }}
    </span>
    <img
      src="../../../../assets/images/loading.gif"
      *ngIf="endingLecture"
      class="btnLoadImg"
    />
  </button>
  <h1 class="teacherName">
    {{ lectureData?.student.name }}
  </h1>

  <div class="row cont text-center">
    <div
      [ngClass]="{
        'col-md-6': chatOn,
        'col-md-12': !chatOn
      }"
    >
      <div class="row teacherVideoCont">
        <!-- <video #teacherVideo class="teacherVideo"></video> -->
        <video-player
          [stream]="studentStream"
          class="teacherVideo"
          [controls]="true"
          *ngIf="studentVidLoaded"
          [poster]="studentAvatar"
        ></video-player>

        <p class="h3 text-center" *ngIf="!studentVidLoaded">
          waiting for student connection...
        </p>
      </div>

      <div class="col-md-4 studentVidCont">
        <video-player
          class="myVideo"
          [stream]="myStream"
          *ngIf="videoOn || audioOn"
          [poster]="myData?.avatar"
        >
        </video-player>
      </div>
    </div>

    <div
      class="col-md-6"
      [ngClass]="{
        'd-none': !chatOn
      }"
    >
      <app-chat [newMsg]="newMsg" (sendMsg)="sendMsg($event)"></app-chat>
    </div>
  </div>
</div>
<loading-overlay *ngIf="loading"></loading-overlay>

<div class="alertCont" *ngIf="changeMode">
  <button class="btn-danger closeBtn" (click)="closeChangeAlert()">X</button>
  <quran-selector
    class="quranAlert"
    [lectureId]="lectureData._id"
    (doneFlag)="closeChangeAlert($event)"
  >
  </quran-selector>
</div>

<div class="sideMenu">
  <div class="menuItem" (click)="toggleAudio()">
    <span>
      {{
        audioOn
          ? ("stopMicrophone" | translate)
          : ("activeMicrophone" | translate)
      }}
    </span>
    <i
      class="fa"
      [ngClass]="{
        'fa-microphone-slash': !audioOn,
        'fa-microphone': audioOn
      }"
    ></i>
  </div>
  <div class="menuItem" (click)="toggleVideo()">
    <span>
      {{ videoOn ? ("stopCamera" | translate) : ("activeCamera" | translate) }}
    </span>
    <i
      class="fa"
      [ngClass]="{
        'fa-video-slash': !videoOn,
        'fa-video': videoOn
      }"
    ></i>
  </div>
  <div class="menuItem" (click)="toggleChat()">
    <span>
      {{ chatOn ? ("stopChat" | translate) : ("activeChat" | translate) }}
    </span>
    <i
      class="fa"
      [ngClass]="{
        'fa-comment-slash': !chatOn,
        'fa-comment': chatOn
      }"
    ></i>
  </div>
</div>
