.cont {
  font-family: "Cairo";
}
.cover {
  width: 100vw;
  height: 20vh;
  background-color: gold;
}

.imgCont {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -12.5vh;
  flex-direction: column;
}

.profileImg {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.teacherName {
  margin-top: 1%;
}

.teacherData {
  margin-top: 10%;
}
.label {
  margin-left: 1%;
  margin-right: 1%;
  color: gold;
}
