<div class="card text-center item">
  <div class="card-img">
    <img
      class="card-img-top"
      [src]="imageURL"
      alt="Card image cap"
      (error)="imgUrlErr()"
    />
  </div>
  <div class="card-body">
    <h3 class="card-title name">
      {{ currentLang === "ar" ? lecture.arName || lecture.name : lecture.name }}
    </h3>
    <hr />
    <p class="card-text data text-center">
      {{ lecture.description }}
    </p>

    <p class="card-text data">
      <strong>{{ "startTime" | translate }} : </strong>
      {{ lecture.time | date: "dd/MM/YYYY hh:mm a":"" }}
    </p>
    <p class="card-text data" *ngIf="lecture.duration">
      <strong>{{ "duration" | translate }} : </strong> {{ lecture.duration }}
      {{ "min" | translate }}
    </p>
    <p class="card-text data" *ngIf="lecture.duration">
      <strong>{{ "studentsNum" | translate }} : </strong>
      {{ lecture.students.length }}
    </p>

    <!-- <a href="#" class="btn btn-warning">View Details</a> -->
  </div>
</div>
