<div class="text-center cont">
  <div class="header">
    <h2 class="h1">{{ "students" | translate }}</h2>
    <div class="line"></div>
  </div>
  <div class="loadCont" *ngIf="loading">
    <img src="../../../assets/images/loading.gif" alt="" class="loadImg" />
  </div>
  <div class="loadCont" *ngIf="!loading && !students.length">
    <h3>
      {{ "noStudents" | translate }}
    </h3>
  </div>
  <ul class="students row" *ngIf="students.length">
    <li class="studentItem col-md-3" *ngFor="let student of students">
      <div>
        <student-card [student]="student"></student-card>
      </div>
    </li>
  </ul>
</div>
